{% load static %}
{% load compress %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}
    {% block title %}
    <title>Christian Koranteng</title>
    {% endblock %}
  </head>

  <body>
    <header class="container">
      <nav class="navbar flex justify-between">
        <div class="logo w-24 h-24"><a href="{% url 'home' %}"><img src="{% static 'img/logos/ck..png' %}" alt="website logo"></a></div>
        <div class="nav-links">
          <ul>
            <li><a href="#">Work</a></li>
            <li><a href="#">Play</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer-grid">
      <div>
        <h5>Christian Kwabena Koranteng</h5>
        <p>
          devwithchris@gmail.com
        </p>
        <p>
          Made by Christian Koranteng &copy;
        </p>
      </div>
      <div>
        <ul>
          <li>Email</li>
          <li>LinkedIn</li>
          <li>Github</li>
        </ul>
      </div>
    </footer>
    {% django_browser_reload_script %}
  </body>
</html>
